@mixin displayFlexColumn($vertical: center, $gorizontal: center)
    display: flex
    flex-direction: column
    align-items: $gorizontal 
    justify-content: $vertical 

@mixin displayFlexRow($vertical: center, $gorizontal: center)
    display: flex
    flex-direction: row
    align-items: $vertical 
    justify-content: $gorizontal  
    
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Bebas Neue", sans-serif


main
    @include displayFlexColumn($vertical: center, $gorizontal: center)
    width: 100%
    height: 100%
    padding: 6rem
    gap: 2rem
    font-size: 22px
    

    #list-countries-box
        @include displayFlexColumn()

        width: 250px
        height: max-content
        position: relative
        z-index: 2
        overflow-y: visible
        
        input
            position: relative
            z-index: 10
            outline: none
            width: 300px
            height: 40px
            padding: .5rem
            border: solid 1px grey
            &:hover
                border: solid 2px green
                
        #list-countries
            top: 100%  
            display: none
            flex-direction: column 
            position: absolute
            z-index: 4
            width: 300px
            max-height: 300px
            overflow-y: auto
            background-color: #f7fff9
            outline: none
            
            li
                list-style: none
                text-decoration: none
                cursor: pointer
                padding: 0.5rem
                outline: none
                &:hover
                    color: green

    .container
        @include displayFlexRow()
        gap: 2rem 
        padding: 1rem
        
        .img-box
            
            img
                object-fit: cover
                width: 100%
        
        @media only screen and (min-width: 300px) and (max-width: 900px)
            @include displayFlexColumn()


